* {
    padding: 0;
    margin: 0;
    font-family: century Gothic;
}

nav {
    background-color: rgb(68, 68, 68);
}


/*barre de navigation*/

nav ul li {
    display: inline-block;
    padding: 4px;
    margin: 20px;
    list-style: none;
    color: rgb(247, 121, 63);
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s ease;
    margin-top: 25px;
}


/*titre niv 2 et paragraphe*/

h2,
p {
    text-align: center;
    font-family: Century Gothic;
}


/*stlye videos*/

.video {
    width: 360px;
}

.videoA {
    border: 3px solid orangered;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 360px;
    margin: 10px;
    padding-bottom: 10px;
}

.videoB {
    border: 3px solid orangered;
    padding-top: 10px;
    width: 360px;
    margin: 10px;
    padding-bottom: 10px;
}

.videoC {
    border: 3px solid orangered;
    padding-top: 10px;
    width: 360px;
    margin: 10px;
    padding-bottom: 10px;
}

.videos {
    display: inline-flex;
    margin-left: 110px;
    margin-top: 50px;
}

label {
    padding: 20px;
    color: rgb(0, 0, 0)
}


/* formulaire*/

.labels {
    font-family: arial;
    font-size: 14px;
    color: black;
}

.nom {
    width: 400px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid black;
    margin-left: 21px;
    outline-color: rgb(0, 140, 255);
}

.postnom {
    width: 400px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid black;
    margin-left: 21px;
    outline-color: rgb(0, 140, 255);
    font-size: 15px;
}

.champtxtrd {
    width: auto;
    height: auto;
    margin-left: 20px;
    font-size: 15px;
}

.champtxtop {
    width: 273px;
    height: 35px;
    margin-left: 21px;
    outline-color: rgb(0, 140, 255);
    border-radius: 4px;
    border: 1px solid black;
    font-size: 15px;
}

.button {
    margin-left: 21px;
    margin-top: 10px;
}

.submit {
    padding: 10px 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.reset {
    padding: 10px 80px;
    border: 1px solid rgb(255, 70, 37);
    background-color: rgb(255, 70, 37);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

form {
    display: block;
    padding: 50px 400px;
}


/*style tableau*/

table {
    margin-left: 190px;
    margin-top: 20px;
    border-collapse: collapse;
}

tr,
td {
    padding: 4px 20px;
    border: 1px solid rgb(0, 0, 0);
}

td {
    text-align: center;
    color: rgb(82, 82, 82);
}

thead {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.color {
    font-weight: bold;
    color: aliceblue;
}


/*style image*/

.image {
    width: 300px;
}

.gallerie {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}


/*style liste*/

.pr {
    margin-left: 200px;
    margin-top: 25px;
}

.fram {
    margin-left: 35px;
}